<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="shipping_to_payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Shipping to payment configuration</label>
                <field id="is_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ship_to_pay" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="text">
                    <label>Shipping to payments</label>
                    <frontend_model>Jqode\ShippingToPayment\Block\Adminhtml\Form\Field\ShipToPay</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
